.menu-text .text-block {
    padding: 20% 5%;
    justify-content: flex-start;
}
.menu-toggle {
    height: 13px;
    font-size: 11px;
    letter-spacing: 2px;
    color: #000;
    opacity: 0.5;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 0.1em;
    font-weight: bolder;
    margin: 10px;
    transition: all 0.3s;
}
.menu-list {
    min-height: 60vh;
}
.menuSubtitle.weekend .menu-toggle.set,
.menuSubtitle.set .menu-toggle.weekend {
    opacity: 1;
    cursor:default;
}
.menuSubtitle:after {
    content: ' ';
    border-bottom: solid 1px #c7c7c7;
    position: absolute;
    margin: 0;
    width: 100px;
    height: 2px;
    transition: all 0.5s;
    margin-top: 20px
}
.menuSubtitle.set:after {
    width: 75px;
    margin-left: -125px;
}
.menuSubtitle.weekend:after {
    width: 120px;
    margin-left: 85px;
}

.menu-item {
    justify-content: space-between;
    height: 60px;
    box-shadow: 0 1px 0 0 #f2f2f2;
}
._vg {
    white-space: nowrap;
    /* padding-left: 15px; */
}
.menu-item span:last-child {
    opacity: 0.4;
}
.menuTitle {
    margin-bottom: 10px
}
.menuSubtitle {
    margin-bottom: 55px;
}
.menu-item {
    transition: 3s;
    height: 77px;
}
.menu-item span {
    padding-top: 25px;
    padding-right: 20px;
}
.menu-item span._vg {
    right: 0;
    padding-right: 0;
}

.menu-item {
    transition: all .6s
}
.menu-appear.menu-item {
    /* background: red; */
    transform: translateY(50px);
}
.menu-appear.menu-appear-active.menu-item {
    /* background: orange; */
    transform: translateY(0);
}
.menu-enter.menu-item {
    /* background: yellow; */
    opacity: 0.5;
    transform: translateY(30px);
}
.menu-enter.menu-enter-active.menu-item {
    /* background: green; */
    opacity: 1;
    transform: translateY(0);
}
.menu-leave.menu-item {
    /* background: blue; */
    transition: all .2s;
    opacity: 1;
    /* transform: translateY(0); */
}
.menu-leave.menu-leave-active.menu-item {
    /* background: purple; */
    opacity: 0;
    transform: translateY(-30px);
}

@media(max-width:768px) {
    .menu-text .text-block{
        padding: 40px 0;
    }
    .menuSubtitle.set:after {
        width: 85px;
        margin-left: -85px;
    }
    .menuSubtitle.weekend:after {
        width: 145px;
        margin-left: 55px;
    }
    .menu-item span._vg {
        /* padding-right: 20px!important; */
        /* right:20px; */
    }
}
