.index-block {
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.main-screen {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.inner-screen {
    min-height: calc(100vh - 20px);
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
}
.logo,
.item {
    text-align: center;
}
.item {
    height: 100%;
}
.title,
.title p>span {
    transition: all 0.8s;
}
.title p,
.title p>span {
    font-family: BerlingskeSerif;
    font-size: 36px;
    line-height: 1.78;
    text-align: center;
    color: #fff;
}
.title p>span {
    border-bottom: solid 1px #777;
}
.subtitle {
    opacity: 0!important;
    font-size: 0;
    transition: all 0.3s;
}
.subtitle p {
    font-family: ApercuPro;
    font-size: 17px;
    line-height: 1.53;
    max-width: 200px;
    color: #fff;
    margin: 0 auto 10px;
}
.centred {
    height: 100%;
}
/* ============ */
.main-screen {
    opacity: 1;
    transition: all 1s ease-in;
    transform: scale(1.02);
}
.bordAbs {
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 20px #fff;
    transition: all 1s ease-in-out;
    top:0;
    opacity: 1!important;
}
/* === */
.anim-appear div {
     opacity: 0.01;
}
.anim-appear .item .title {
    margin-top: 150px;
}
.anim-appear .logo {
    margin-top: -300px;
    opacity: 0;
}
.anim-appear.bordAbs {
    border: solid 0px #fff;
}
.anim-appear footer {
    bottom:-30px;
}
.anim-appear.main-screen {
    transform: scale(1.00);
}
.anim-appear+.backImg {
    transform: scale(0.9);
    transition: 2s;
    opacity: 0;
}
/* === */
.anim-appear.anim-appear-active+.backImg {
    transform: scale(1);
    opacity: 1;
}
.anim-appear.anim-appear-active,
.anim-appear.anim-appear-active div {
    transition: all 0.7s ease-in;
    opacity: 1;
}
.anim-appear.anim-appear-active .item .subtitle {
    transition: all 0.5s ease-in;
}
.anim-appear.anim-appear-active .item .title {
    margin-top: 0;
}
.anim-appear.anim-appear-active .logo {
  margin-top: -400px;
  opacity: 1;
  transition: all 0.7s ease-in;
}
.anim-appear.anim-appear-active.bordAbs {
    border: solid 20px #fff;
}
.anim-appear.anim-appear-active footer {
    bottom:0;
}
.anim-appear.anim-appear-active.main-screen {
    transform: scale(1.02);
}
.logo {
    position: absolute;
}
.item {
    padding-top: 100px;
}
.logo {
    align-self: center;
    margin-top: -400px;
}
.backImg {
    z-index: 9;
    position: absolute;
    width: auto;
    min-height: 100vh;
    transition: 0.5s;
    min-width: 100%;
}
.bordAbs {
    z-index: 11;
}
.backImg+.container-fluid {
    z-index: 10;
}
.backImg._out {
    opacity: 0;
}
.main-screen._out {
    background: #fff;
}
@media (max-width:1024px) {
    .anim-appear .item .title {
        margin-top: 0
    }
    .anim-appear .centred{
        transform: translateY(100px);
        transition: all 1s;
    }
    .anim-appear.anim-appear-active .centred{
        transform: translateY(0);
    }
    .inner-screen {
        width:100vw;
    }
    .index-block {
        max-height: calc(100vh - 3rem);
        overflow-y: hidden;
    }
    .bordAbs,
    .anim-appear.anim-appear-active.bordAbs {
        border: solid #fff 10px;
    }
    .inner-screen .subtitle,
    .inner-screen .logo {
        display: none;
    }
    .index-block .row {
        margin: auto;
    }
    .backImg {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .item {
        padding-top: 0!important;
        height: auto;
    }
    .centred {
        height: auto;
    }
    footer.index {
        border-bottom: solid #fff 20px;
        position: absolute;
        left: 0;
        padding: 0 10px;
        transition: 1s;
    }
    footer.index>p.coords,
    footer.index>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bordAbs {
        width: 100vw;
        height: 100vh;
        border-top: 0;
    }
}
@media(min-width:769px) {
    .item .title p>span {
        transition: all .5s;
    }
    .mainLink {
        padding-top: 180px;
    }
    .item:hover .title {
        margin-top: -130px!important;
    }
    .item:hover .title p>span {
        font-size: 48px!important;
        text-decoration: none;
        border-bottom: none;
    }
    .item:hover .subtitle {
        opacity: 1!important;
    }
    .anim-appear #divider {
        height: 10px;
    }
    .anim-appear-active #divider{
        height: 350px;
    }
}
@media(max-width:768px) {
    .backImg {
        margin-left: calc(100% - 100vw);
    }
    #divider {
        display: none;
    }
}
@media (max-width:450px) {
    .index-block {
        max-height: calc(100vh - 4rem);
    }
}
#divider {
    width: 1px;
    position: absolute;
    left: 50vw;
    top: 40vh;
    background: #fff;
    opacity: 0.4;
    transition: all 3s;
    height: 350px;
}
@media(min-width:1480px) {
    #divider {
        top: 30vh;
    }
}
