nav.navbar{
    position: fixed;
    z-index: 1000;
    height: 62px;
    padding-bottom: 0px;
    background-image: url(/img/rectangle_big.svg);
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-position-x: -10px;
    padding-top: 0;
}
.nav-lang{
    border-left: solid 1px #0000001a;
}
nav li{
    list-style: none;
    line-height: 2em;
}
nav li a{
    text-transform: uppercase;
    font-family: ApercuPro;
    font-size: 11px;
    opacity: 0.5;
    letter-spacing: 1.5px;
}
.nav-link{
    padding: 0 1rem;
}
