.book-screen {
    background-size: calc(100% - 30px)!important;
    background: url('../../assets/img/second_block.png') #000;
    padding: 0 50px;
    background-position-x: center;
    background-repeat: no-repeat;
}
.book-screen form {
    background: #fff;
    padding: 80px 65px;
    width: 720px;
    margin: 0 auto 150px;
    align-self: flex-end;
}
.inputs input:focus,
.inputs button:focus {
    outline:none;
    box-shadow: none;
}
.inputs button:active {
    background: inherit;
    color: inherit;
}
.inputs input,
.schedule--time>button {
    border: solid 1px #ececec;
    padding: 16px;
    transition: all 0.2s;
}
.inputs input,
.schedule--time>button,
.inputs + button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 16px 0;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}
.line-inputs {
    justify-content: space-between;
    flex-wrap: wrap;
}
.schedule--date {
    margin-right: -1px !important;
}
.schedule input,
.schedule button {
    max-width: 100%;
}
.schedule--date::before {
    margin-right: 162px;
    z-index: 99;
}
.schedule--time::before {
    margin-right: 9%;
}
.schedule--date::before,
.schedule--time::before {
    content: ' ';
    background-image: url('../../assets/img/triangle.svg');
    width: 8px;
    height: 6px;
    top: 40px;
    position: absolute;
    right: 0;
}
.dropdown-item {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 16px;
    opacity: 0.5;
}
.persons-input {
    margin: 16px 0;
    display: inherit;
}
.persons-input input {
    text-align: center;
}
.persons-input span {
    border: solid 1px #ececec;
    padding: 12px 20px;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 17px;
}
input#persons {
    background: #fff;
    cursor: no-drop;
    margin: 0;
    width: calc(100% - 102px);
    position: relative;
    border-left-color: transparent;
    border-right-color: transparent;
}
.inputs + button{
    padding: 16px;
    background: #000;
    color: #fff;
    border: none;
    transition: all 0.3s;
    border: solid 2px transparent;
}
.dropdown {
    position: static;
}
.dropdown-toggle::after {
    content:none;
}
.schedule--time>button {
    background: transparent;
    color: inherit;
    max-width: 100px;
    width: 100px;
    text-align: left;
}
.inputs input:hover,
.inputs button:hover,
.persons-input span:hover,
.persons-input input:hover,
.persons-input input:focus {
    border: solid 1px #c7c7c7;
}
.inputs input:focus,
.inputs button:focus,
.persons-input span:focus {
    border: solid 1px #7f7f7f;
}
.inputs + button:hover {
    background: transparent;
    cursor: pointer;
    color: #000;
    border: solid 1px #000;
}
.btn-primary:hover,
.btn-primary:focus,
.show > .btn-primary.dropdown-toggle {
    background: transparent!important;
    color: #000!important;
    border: solid 1px #ececec!important;
}
.btn-primary:hover {
    border: solid 1px #c7c7c7!important;
}
.dropdown-menu.show .dropdown-wrap {
    background: #fff;
    max-width: 100px;
    border: solid 1px #ececec;
    border-top: #fff;
    margin-top: -3px;
}
.dropdown-menu.show {
    background-color: transparent;
    border: none;
    padding: 0;
}
.z-10{
    z-index: 10;
}
.schedule--time{
    margin-left: auto;
}
.DayPicker {
    width: 329px;
    border: solid 1px #ececec;
}
.DayPickerInput-Overlay {
    box-shadow: none;
}
.DayPicker-Month {
    margin: 0 auto;
}
.DayPicker-Weekday {
    font-weight: normal
}
.DayPicker-Caption,
.DayPicker-Day {
    text-align: center;
}
.DayPicker-Caption{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.DayPicker-Day {
    color: #333;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    width: 38px;
    border-radius: 50%;
    height: 38px;
    line-height: 0;
}
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background: #000!important;
    color: #fff;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background: #000;
    color: #fff;
    border-color: #fff;
}
.DayPicker-Day--disabled {
    opacity: 0.5;
    cursor: no-drop;
}
.DayPicker-NavButton {
    font-size: 0.6em;
    opacity: 0.5;
    margin-top: 10px;
}
.DayPicker-NavButton--prev {
    margin-right: calc(100% - 5em);
}
.DayPicker-NavButton--next {
    margin-right: 1em;
}
.DayPicker .header {
    padding-bottom: 20px;
}
.DayPicker .header .month-year {
    text-transform: uppercase;
}
.DayPickerInput input {
    width: 201px;
}
@media(min-width: 769px) {
    .book-screen{
        height: calc(100vh + 900px);
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width:769px) and (max-width:1024px) {
    .book-screen {
        background-size: cover!important;
        height: calc(100vh - 250px);
    }
    .book-screen h2 {
        font-size: 48px;
    }
    .book-screen p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .book-screen form {
        padding: 30px 25px;
        max-width: 40vw
    }
}
@media(min-width:1025px) {
    .book-screen.b-sticky {
        background-attachment: fixed!important;
        background-size: 100%!important;
    }
    .book-screen:after {
        position: absolute;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        content: ' ';
        height: 180vh;
        width: 100vw;
    }
}
@media(max-width:768px) {
    .book-screen_div {
        padding: 0;
    }
    .book-screen,
    .book-screen form {
        padding: 0;
    }
    .book-screen form {
        margin: 0;
    }
    .book-screen h2 {
        font-size: 42px;
    }
    .book-screen .text-block {
        padding: 20px 15px;
    }
    .schedule--time {
        width: 100%;
    }
    .schedule--time>button {
        max-width: none;
        width: 100%;
    }
    .dropdown-menu.show .dropdown-wrap {
        max-width: none;
        margin-right: 30px;
    }
    form p {
        padding: 0 15px;
    }
}
