.carousel-indicators {
    margin-bottom: 32px;
    z-index: 100;
}
.carousel-indicators li {
    border: solid 1px transparent;
    border-radius: 3px;
    height: 4px;
    /* width: 33px; */
}
.carousel-indicators._secondary li{
    background-color: #fff;
    width: 0;
    margin-right: 34px;
    transition: all 1s;
}
.carousel-indicators:not(._secondary) li.active{
    opacity: 0.5;
}
.carousel-indicators._secondary li.active,
.index_1 .carousel-indicators._secondary li:nth-child(2),
.index_2 .carousel-indicators._secondary li {
    width: 30px;
    margin-right: 3px;
    opacity: 1;
    transition-property: width,margin;
    transition-duration: 1s;
}
/* .carousel-indicators._secondary li {
} */
.carousel-inner {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: 50vw;
    cursor: no-drop;
}
.carousel-inner:before {
    content: ' ';
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all 1.5s;
    margin-left: 100%;
}

.carousel-item > div.d-block {
    height: 100vh;
    /* width: 50vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-control-next,
.carousel-control-prev {
    width: 50% !important;
    cursor: url(../../assets/img/arrow-next.svg), auto;
}
.carousel-control-prev {
    cursor: url(../../assets/img/arrow-prev.svg), auto;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
@media(max-width:768px) {
    .carousel-inner {
        width: 100vw;
        height: calc( 90vh - 48px);
    }
}
